.BoardPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.BoardPanel .row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.BoardPanel .block {
  flex-grow: 1;
  padding-bottom: 10%;
}
