.ControlsPanel {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1%;
}

.ControlsPanel .block {
  background-color: transparent;
  box-shadow: none;
  flex-grow: initial;
  padding: 50%;
}

.ControlsPanel .block.interactive:hover {
  transform: scale(0.9);
}