.EditorInstructionsPanel {
  background-color: grey;
  height: 60px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.EditorInstructionsPanel > .InstructionWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.EditorInstructionsPanel .block {
  height: 3.2vh;
  width: 3.2vh;
  margin: 0.2vh;
}
