.FunctionsPanel {
}

.FunctionBlock {
  display: flex;
  align-items: center;
  padding: 1vh;
  // padding-left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.FunctionBlock .FunctionIdBlock {
  background-color: transparent;
  box-shadow: none;
  // margin: 0 0 0 -30vh;
}

.FunctionBlock .block {
  // margin-left: -1px;
  flex-grow: 1;
  padding-top: 9%;
  max-width: 9%;
}
