#Game {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0 auto;
  max-width: 65vh;
  display: flex;
  flex-direction: column;
}

#PanelTop {
  position: relative;
  flex-direction: row;
}

#PanelBottom {
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
}

#PanelTop, #PanelBottom {
  display: flex;
}

#PanelTop.blur, #PanelBottom.blur {
  filter: blur(5px);
}
