.InstructionsPanel {
  width: 100%;
  background: #000000bb;
  padding: 1vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.InstructionsPanel .block {
  height: 8vh;
  width: 8vh;
  margin: 1vh;
}

.hidden {
  display: none;
}