.InstructionsPanel {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.5vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.InstructionsPanel .block {
  height: 6vh;
  width: 6vh;
  margin: 0.5vh;
}
