.StackPanel {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.StackPanel .block {
  padding: 50%;
  background-color: #999;
}

.StackPanel .ScrollWrapper {
  position: absolute;
  width: 100%;
  top: 0;
}
