.StackPanel {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.StackInstructionBlock {
  background-color: darkgrey;
  width: 40px;
  height: 40px;
  margin: 3px;
}

.StackInstructionBlockIcon {
  background-color: clear;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.StackPanel .block {
  padding: 50%;
  background-color: #999;
}

.StackPanel .ScrollWrapper {
  position: absolute;
  width: 100%;
  top: 0;
}
